.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_store

*.csv
*gpkg
data/ValorIntegralm2_Mz/
data/SHP/
data/valorintegralm2_greco/
data/.csv


# Otros
.sh
scripts/Prueba_PCA_2.R
scripts/Prueba_PCA.R
scripts/RegresionEN.Rmd
scripts/ElasticNet_regression_3.R
scripts/RegresionEN.Rmd
scripts/RegresionEN.Rmd
scripts/RegresionEN.Rmd
